html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}strong,b{font-weight:bold; font-weight:600;}i{font-style:italic;}img{height:auto;max-width:100%;width:auto\9;}a,a:hover,a:active,a:focus{text-decoration:none;}

* {
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	width:100%;
	height:100%;
}

.viewer {
	position:absolute;
	width:100%;
	height:100%;
	z-index:2;
}

.viewer.min {
	width:100%;
	height:100%;	
}

.viewer .container {
	height:300px;
	width:800px;
	left:50%;
	top:50%;
	margin-top:-150px;
	margin-left:-400px;
	position:absolute;
	padding:0;
}

.baseline {
	display:block;
	border-top:1px dashed #eee;
	border-bottom:1px dashed #eee;
	height:40px;
	width:800px;
	top:38px;
	position:absolute;
	z-index:1;
}

.viewer .container .title,
.viewer .container .bodyText {
	position:relative;
	opacity:0;
	cursor:pointer;
	z-index:2;
}

.viewer .container .title {
	font-size:48px;
	color:#4a4e5a;
	width:800px;
	height:100px;
	line-height:90px;
}

.viewer .container .title .content {
	position:absolute;
	opacity:1;
	line-height:100px;
}

.viewer .container .title:hover .name {
	opacity:1;
}

.viewer .container .bodyText {
	font-size:1em;
	color:#142a43;
	padding-top:10px;
	width:800px;
	height:200px;
	line-height:1.6;
}

.viewer .container .bodyText .content {
	width:480px;
	position:absolute;
	opacity:1;
}

.viewer .container .bodyText:hover .name {
	opacity:1;
}

.viewer .container .title .name,
.viewer .container .bodyText .name {
	color:#aaa;
	font-family: "Open Sans", sans-serif;
	font-size:0.875rem;
	margin-left:20px;
	margin-right:40px;
	width:160px;
	opacity:0;
  display:inline-block;
  vertical-align: middle;
  line-height:1.6;
	-webkit-transition: all 0.25s;
	transition: 				all 0.25s;
}

.viewer .container .title .name a,
.viewer .container .bodyText .name a{
	position:relative;
	z-index:2;
	color:#4a4e5a;
	font-weight:bold;
	padding:8px 12px 8px 0;
}

.viewer .container .title .name a:hover,
.viewer .container .title .name a:focus,
.viewer .container .bodyText .name a:hover,
.viewer .container .bodyText .name a:focus {
	color:#248ab3;
	text-decoration:underline;
}

.viewer .container .active {
	-webkit-transition: opacity 1s;
	transition: 				opacity 1s;
	opacity:1;
}

.viewer .container .stay {
	background-color:rgba(0,0,0,0.05);
}

.viewer .info {
	color:#aaa;
	font-family: "Open Sans", sans-serif;
	font-size:0.875rem;
	position:absolute;
	bottom:0;
	margin-left:-350px;
	left:50%;
	width:700px;
	height:120px;
	line-height:120px;
	text-align:center;
}

.viewer .info > span {
	position:absolute;
	display:block;
	margin-left:-350px;
	padding-top:40px;
	left:50%;
	width:700px;
	line-height:2;
}

.viewer .info .title,
.viewer .info .content {
	-webkit-transition: opacity 0.5s;
	-moz-transition: 		opacity 0.5s;
	-o-transition: 			opacity 0.5s;
	transition: 				opacity 0.5s;
}

.viewer .info .title {
	opacity:1;
}

.viewer .info .content {
	opacity:0;
}

.viewer .info:hover .title {
	opacity:0;
}

.viewer .info:hover .content {
	opacity:1;
}

.storage {
	position:absolute;
	bottom:0;
	height:200px;
	width:100%;
	overflow:hidden;
	z-index:1;
}

.storage .container {
	border-top:1px solid #eee;
	/*background-color:#F5F5F5;*/
	position:absolute;
	bottom:-100px;
	height:100px;
	width:100%;
	-webkit-transition: bottom 0.5s;
	-moz-transition: 		bottom 0.5s;
	-o-transition: 			bottom 0.5s;
	transition: 				bottom 0.5s;
}

.storage .container.open {
	bottom:0px;
}

.storage .container .pocket {
	display:block;
	text-align:center;
	float:left;
	padding:0 20px;
	width:20%;
	line-height:100px;
	cursor:pointer;
}

.storage .container .pocket:hover {
	background-color:rgba(0,0,0,0.05);
}

.storage .container .pocket .content {
	display:inline-block;
	font-family: "Open Sans", sans-serif;
	line-height:normal;
	vertical-align:middle;
}

.storage .container .pocket .content .title {
	color:#142a43;
	font-size:1rem;
	font-weight:bold;
	line-height:1.5;
}

.storage .container .pocket .content .bodyText {
	color:#4a4e5a;
	font-size:0.875rem;
	line-height:1.5;
}